*{
    margin: 0;
    padding:0;
}

ul li{
    list-style: none;
}

.main .img_box{
    float: left;
    margin-left:15px;
}

.main .img_box li{
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #000;
}

.main .img_box li img{
    width: 100%;
    cursor: zoom-in;
}

.show_pic{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: zoom-out;
}

.show_pic img{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: none;
    cursor: default;
}
