*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: SimHei;
    font-weight: bold;
    background-color: #eee;
}

header{
    width: 100%;
    height: 400px;
    background-color: #fff;
}

header .head{
    width: 100%;
    height: 100px;
    background-color: #7ab5d3;
    color: #fff;
}

header .head > a{
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    position: absolute;
    left: 20px;
}

header .head h1{
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

header nav{
    width: 100%;
    height: 100px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

header nav ul li{
    height: 100px;
}

header nav ul li a{
    font-size: 20px;
    color: #000;
    line-height: 100px;
}

header .lantern{
    width: 100%;
    height: 200px;
    position: relative;
}

header .lantern img{
    width: 100%;
    height: 200px;
    position: absolute;
}

.mid{
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.mid .labels{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 30px;
    height: 150px;
}

.mid .labels li{
    width: 20%;
    height: 130px;
    position: relative;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    border-bottom: 5px solid #aaa;

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.mid .labels li img{
    width: 60px;
    height: 80px;
    margin: 0 auto;
}

.mid .labels li a{
    display: block;
    color: #000;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.mid .subfield{
    height: 250px;
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mid .subfield li{
    width: 33%;
    height: 200px;
    border-right: 2px solid #aaa;
}

.mid .subfield li:last-child{
    border-right: none;
}

.mid .subfield li img{
    width: 80%;
    height: 110px;
    margin-left: 10%;
}

.mid .subfield li h2{
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.mid .subfield li a{
    line-height: 40px;
    font-size: 15px;
    color: #aaa;
    display: block;
    width: 100%;
    text-align: center;
}

.module{
    padding: 20px;
    height: 400px;
    background-color: #fff;
    margin-top: 20px;
}

.module h2{
    font-size: 30px;
    line-height: 60px;
    border-bottom: 4px solid #aaa;
}

.module .part{
    margin-top: 20px;
}

.module .part img{
    float: left;
    width: 90px;
    height: 130px;
    display: inline-block;
    border: 2px solid orangered;
}

.module .part ul{
    margin-left: 130px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.module .part ul li{
    width: 45%;
    height: 60px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 60px;
    text-align: center;
    background-color: #eee;
}

.articles{
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}

.articles .article_text{
    width: 100%;
    height: 130px;
    border-bottom: 4px solid #eee;
}

.articles .article_text img{
    float: left;
    width: 25%;
    height: 110px;
    margin-top: 10px;
    display: inline-block;
}

.articles .article_text .content{
    margin-left: 130px;
}

.articles .article_text .content h2{
    width: 80%;
    margin-top: 20px;
    font-size: 22px;
    height: 100px;
}

.articles .article_text .content p{
    font-size: 15px;
    color: #bbb;
}

.articles .article_img{
    width: 100%;
    height: 180px;
}

.articles .article_img h2{
    width: 80%;
    margin: 10px 0 0 20px;
    font-size: 22px;
    line-height: 40px;
}

.articles .article_img ul{
    margin: 0 0 0 20px ;
    display: flex;
    justify-content: space-around;
}

.articles .article_img ul li{
    width: 80px;
    height: 70px;
    background-color: #eee;
}

.articles .article_img ul li img{
    width: 80px;
    height: 100px;
}

.articles .article_img p{
    font-size: 15px;
    line-height: 100px;
    text-indent: 2em;
    color: #bbb;
}